In [5]:
import pandas as pd

In [6]:
df=pd.read_csv('60s_window_merged.csv',index_col=0)
df

,net_acc_mean,net_acc_std,net_acc_min,net_acc_max,ACC_x_mean,ACC_x_std,ACC_x_min,ACC_x_max,ACC_y_mean,ACC_y_std,...,age,height,weight,gender_ female,gender_ male,coffee_today_YES,sport_today_YES,smoker_NO,smoker_YES,feel_ill_today_YES
0,0.025961,0.013811,0.000000,0.087383,0.023431,0.017769,-0.037843,0.087383,0.000016,1.222594e-05,...,27,175,80,0,1,0,0,1,0,0
1,0.027640,0.010597,0.002752,0.054356,0.027640,0.010597,0.002752,0.054356,0.000019,7.290999e-06,...,27,175,80,0,1,0,0,1,0,0
2,0.028389,0.006937,0.000000,0.066053,0.028378,0.006985,-0.002752,0.066053,0.000020,4.805734e-06,...,27,175,80,0,1,0,0,1,0,0
3,0.033268,0.007670,0.000000,0.074998,0.032960,0.008904,-0.030962,0.074998,0.000023,6.126303e-06,...,27,175,80,0,1,0,0,1,0,0
4,0.037021,0.001284,0.027522,0.043347,0.037021,0.001284,0.027522,0.043347,0.000025,8.837530e-07,...,27,175,80,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
780,0.036762,0.007911,0.000000,0.058485,-0.036741,0.008011,-0.058485,0.008257,-0.000025,5.512148e-06,...,29,165,55,1,0,0,0,1,0,0
781,0.032120,0.005324,0.001376,0.055732,-0.032117,0.005343,-0.055732,0.002752,-0.000022,3.676049e-06,...,29,165,55,1,0,0,0,1,0,0
782,0.026901,0.000517,0.024770,0.028210,-0.026901,0.000517,-0.028210,-0.024770,-0.000019,3.554577e-07,...,29,165,55,1,0,0,0,1,0,0
783,0.027999,0.000428,0.025458,0.029586,-0.027999,0.000428,-0.029586,-0.025458,-0.000019,2.944295e-07,...,29,165,55,1,0,0,0,1,0,0
784,0.027407,0.005238,0.000688,0.074310,-0.027312,0.005708,-0.074310,0.017201,-0.000019,3.927736e-06,...,29,165,55,1,0,0,0,1,0,0

In [7]:
subject=[2,3,4,5,6,7,8,9,10,11,13,14,15,16,17]

subject_personal_list=['subject',
 'age',
 'height',
 'weight',
 'gender_ female',
 'coffee_today_YES',
 'sport_today_YES',
 'smoker_YES',
 'feel_ill_today_YES']

In [21]:
new_df=pd.DataFrame(df[df['subject']==2][subject_personal_list].iloc[:1])
for i in subject[1:]:
    print(i)
    new_df=new_df.append(pd.DataFrame(df[df['subject']==i][subject_personal_list].iloc[:1]))
    
new_df

3
4
5
6
7
8
9
10
11
13
14
15
16
17

,subject,age,height,weight,gender_ female,coffee_today_YES,sport_today_YES,smoker_YES,feel_ill_today_YES
0,2,27,175,80,0,0,0,0,0
50,3,27,173,69,0,0,0,0,0
101,4,25,175,90,0,0,0,0,0
152,5,35,189,80,0,1,0,0,0
204,6,27,170,66,0,1,0,1,0
256,7,28,184,74,0,0,1,0,0
308,8,27,172,64,1,1,1,0,0
361,9,26,181,75,0,0,0,0,1
413,10,28,178,76,0,0,0,0,0
467,11,26,171,54,1,1,0,0,0
520,13,28,181,82,0,0,0,0,0
573,14,27,180,80,0,0,0,0,0
626,15,28,186,83,0,0,0,0,0
679,16,24,184,69,0,0,0,0,0
732,17,29,165,55,1,0,0,0,0

In [37]:
bmi=[]
for i in range(len(list(new_df['subject']))):
    bmii = (new_df['weight'][i])/((new_df['height'][i]/100)**2)
    if ( bmii < 16):
       bmi.append(-2)

    elif ( bmii >= 16 and bmii < 18.5):
       bmi.append(-1)

    elif ( bmii >= 18.5 and bmii < 25):
       bmi.append(0)

    elif ( bmii >= 25 and bmii < 30):
       bmi.append(1)

    elif ( bmii >=30):
       bmi.append(2)
        
bmi

[1, 0, 1, 0, 0, 0, 0, 0, 0, -1, 1, 0, 0, 0, 0]

In [ ]:
bmi_df=

In [23]:
new_df=new_df.reset_index(drop=True)
new_df

,subject,age,height,weight,gender_ female,coffee_today_YES,sport_today_YES,smoker_YES,feel_ill_today_YES
0,2,27,175,80,0,0,0,0,0
1,3,27,173,69,0,0,0,0,0
2,4,25,175,90,0,0,0,0,0
3,5,35,189,80,0,1,0,0,0
4,6,27,170,66,0,1,0,1,0
5,7,28,184,74,0,0,1,0,0
6,8,27,172,64,1,1,1,0,0
7,9,26,181,75,0,0,0,0,1
8,10,28,178,76,0,0,0,0,0
9,11,26,171,54,1,1,0,0,0
10,13,28,181,82,0,0,0,0,0
11,14,27,180,80,0,0,0,0,0
12,15,28,186,83,0,0,0,0,0
13,16,24,184,69,0,0,0,0,0
14,17,29,165,55,1,0,0,0,0

In [44]:
new_df_1=pd.concat([new_df,pd.DataFrame(bmi,columns=['bmi'])],axis=1)
new_df_1

,subject,age,height,weight,gender_ female,coffee_today_YES,sport_today_YES,smoker_YES,feel_ill_today_YES,bmi
0,2,27,175,80,0,0,0,0,0,1
1,3,27,173,69,0,0,0,0,0,0
2,4,25,175,90,0,0,0,0,0,1
3,5,35,189,80,0,1,0,0,0,0
4,6,27,170,66,0,1,0,1,0,0
5,7,28,184,74,0,0,1,0,0,0
6,8,27,172,64,1,1,1,0,0,0
7,9,26,181,75,0,0,0,0,1,0
8,10,28,178,76,0,0,0,0,0,0
9,11,26,171,54,1,1,0,0,0,-1
10,13,28,181,82,0,0,0,0,0,1
11,14,27,180,80,0,0,0,0,0,0
12,15,28,186,83,0,0,0,0,0,0
13,16,24,184,69,0,0,0,0,0,0
14,17,29,165,55,1,0,0,0,0,0

In [41]:
pd.DataFrame(bmi,columns=['bmi'])

    bmi
0     1
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9    -1
10    1
11    0
12    0
13    0
14    0

In [24]:
new_df.to_csv('personal_detail.csv')

In [25]:
pd.read_csv('personal_detail.csv',index_col=0)

,subject,age,height,weight,gender_ female,coffee_today_YES,sport_today_YES,smoker_YES,feel_ill_today_YES
0,2,27,175,80,0,0,0,0,0
1,3,27,173,69,0,0,0,0,0
2,4,25,175,90,0,0,0,0,0
3,5,35,189,80,0,1,0,0,0
4,6,27,170,66,0,1,0,1,0
5,7,28,184,74,0,0,1,0,0
6,8,27,172,64,1,1,1,0,0
7,9,26,181,75,0,0,0,0,1
8,10,28,178,76,0,0,0,0,0
9,11,26,171,54,1,1,0,0,0
10,13,28,181,82,0,0,0,0,0
11,14,27,180,80,0,0,0,0,0
12,15,28,186,83,0,0,0,0,0
13,16,24,184,69,0,0,0,0,0
14,17,29,165,55,1,0,0,0,0